.para1{
    color:hsla(32, 98%, 49%,1);
}
.para2{
    color:hsl(32, 80%, 62%);
}
.para3{
    color:rgba(228, 11, 152,1);
}
.para4{
    color:rgb(234, 131, 198)
}
.para5{
    color:#00ff00;
}
.para6{
    color:#0a0;
}
.para7{
    color:blue;
}
.para8{
    color:lightblue;
}
.para9{
    color:#f00;
}
.para10{
    color:#900;
}